@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,700&display=swap');
*{
    font-family:'Archivo Black','Overpass', sans-serif;
}
.card{
    /* max-height: 415px; */
    /* height: 100%; */
    /* background-color: rgba(255, 255, 255, 0.089); */
    overflow: hidden;
    transition: .4s ease-in-out;
    /* border: 1px solid rgba(255, 253, 253, 0.233) !important; */
    background-color: rgba(224, 223, 219, 0.034);
    border-radius: 20px;
    border: none !important;
    
 }
 .card:hover{
     /* border:1px solid rgba(255, 253, 253, 0.068)  !important; */
     /* border-bottom: 1px dotted !important; */
     border-color: var(--primary) !important;
     transition: .4s;
     box-shadow: inset -1px 1px 12px 0px var(--primary);
 }
 /* .card:focus-visible{
     border: none !important;
     outline: none !important;
 } */
 .card:hover .card-img a .card-img-top{
     transform: scale(1.1);
 }
 .card:hover .card-body h6.card-title{
     color: var(--primary) !important;
     
 }
 .card-img{
     height: 231px;
     overflow: hidden;
     transition:all 0.5s;
 }
 .card-img>a>img{
     object-fit:cover;
     max-width: 100%;
 }
 .card>.card-img>a>.card-img-top{
     width: 100%;
     height: 100%;
     transition: all ease-in .4s;
 
 }
 .divider{
     width: 100%;
     height: 5px;
     background-color:var(--primary);
 }
 .card-body{
     width: 100%;
     height: 100%;
 
 }
 .card-body .card-title{
     transition: .4s;
     width: 100%;
     /* height: 80px; */
     line-height: 29px;
     color:#fff;
     overflow: hidden;
 
 }
 .card-body .card-text{
     width: 100%;
     height: 80%;
     color:#747474;
     font-weight: 300;
     font-family:'Overpass', sans-serif;
     margin-bottom: 10px;
     
 }
 .card-footer{
     color:#747474;
     border-top:1px dotted #74747474;
     font-size: smaller;
     font-weight: lighter;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .card-footer>span{
     color: #747474;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }
 .react{
     cursor: pointer;
     list-style: none;
     margin: 0;
 }
 .react>li{
     color: #747474;
     /* font-style:oblique; */
     font-weight:400;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
 }
 .pagination{
     background-color: transparent;
 
 }
 .pagination>.disabled>.page-link>span{
     color: #505050 !important;
 }
 .pagination>.disabled:hover>.page-link{
     border: none !important;
 }
 .page-item{
     background-color: transparent !important;
     margin:0px 5px !important;
     transition: all .4s;
 }
 .page-item .page-link{
     background-color: transparent !important;
     color:#a3a0a0 !important;
     border: none !important;
    font-family:'Overpass', sans-serif; 
 }
 .page-item.active .page-link{
     color: var(--primary) !important;
     border-bottom: 1px solid var(--primary) !important;
 }
 .page-link:focus {
     z-index: 3;
     outline: 0;
     box-shadow: 0 0 0 0.25rem #ffc1072e;
 }
 .page-item:hover .page-link{
     /* background-color: var(--primary) !important; */
     color: var(--primary) !important;
     border-bottom: 1px solid var(--primarydark) !important;
 
     /* border-radius: 50%; */
 }
 .nextLink{
     color: #a3a0a0;
 }
 .page-item:hover .page-link .next{
     color: var(--primary) !important;
     /* border-bottom: 1px solid var(--primary) !important; */
 }
 .show{
     display: block;
 }
 .hide{
     display: none;
 }
 .filterContainer{
     display: flex;
     justify-content: flex-end;
     align-items: center;
 }
 #filterButtons{
     display: flex;
     justify-content: flex-end;
     align-items: center;   
     flex-wrap: wrap;
     padding: 0 10%;     
 }
 #filterButtons li{
     display: flex;
     list-style: none;
     padding: 5px;
     margin: 10px 10px;
     color: #747474;
     font-family:'Overpass', sans-serif;
     font-size: small;
     font-weight: 400;
     cursor: pointer;
     transition: .3s ease-in-out;
 }
 #filterButtons li:hover{
     color: var(--primary);
     font-weight: 400;
     border-bottom: 1px dotted var(--primary);
     transform: scale(1.1);
 }
 .activeList{
     color: var(--primarydark) !important;/**/
     font-weight: bold !important;
     transform: scale(1.1);
     
 }

 .itemBox .pHide{
    display: none !important;
 }
 .itemBox .pShow{
     display: block !important; 
     animation: show .5s ease;
 }
 @keyframes show{
    0%{
        opacity:0;
        transform:scale(0.9);
    }
    100%{
        opacity: 1;
        transform:scale(1);
    }
}
 @media (min-width: 372px) and (max-width:760px) 
 {
     #blog{
         padding: 0% 2%;
     }
     #filterButtons{
         justify-content: center;
        padding: 0 0%;     
     }
     #filterButtons li{
        margin: 5px 0px;

     }
    
 }
 @media screen and (min-width: 768px) and (max-width: 992px){ 
     #blog{
         padding: 0% 5%;
     }
    #filterButtons{
        justify-content: center;
        padding: 0 6%;     
    }
    #filterButtons li{
        margin: 5px 2%;

     }
 }
 @media (min-width:992px) and (max-width:1920px) 
 {
      #blog{
         padding: 0% 10%; 
     } 
   
 }